{% extends "home/base.html.twig" %}


{% block title %}Les sujets{% endblock %}

{% block body %}
    <table class="table table-inverse">
        <tr class="table100-head">
            <th class="column1">Sujet</th>
            <th class="column2">Auteur</th>
            <th class="column3">Date de modification</th>
            <th class="column4">Etat</th>
            <th class="column5">Nombres de vues</th>

        </tr>
        {% for thread in threads %}
        <tr>
            <td class="column1">{{ thread.nomThread }}</td>
            <td class="column2">{{ thread.user.username }}</td>
            <td class="column3">{{ thread.dateModification |date("d/m/Y") }}</td>
            <td class="column4">{{ thread.etat }}</td>
            <td class="column5">{{ thread.nbVues}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}