{% extends "base.html.twig" %}

{% block masthead %}
    </br></br></br>
    <!-- Navigation -->
    <div >
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background-color: rgba(190,190,190, .9); color:black">
            <div class="container">
                <a class="navbar-brand" href='{{ path("homepage") }} '>Le site du Un</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link"  href='{{ path("homepage") }} ' >Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='{{ path("findAll") }}'>Forum</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("fos_user_security_logout" ) }}">Se déconnecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("fos_user_security_login" ) }}">Se Connecter</a>
                            </li>
                        {%  endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("contactpage") }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header -->
    </div>
{% endblock %}


{% block titleHead %}Les sujets{% endblock %}

{% block body %}
    
    <a class="btn btn-primary " href="{{ path("addThread") }}">Ajouter un nouveau sujet </a>

    <table class="table table-inverse">
        <tr class="table100-head">
            <th class="column1">Sujet</th>
            <th class="column2">Auteur</th>
            <th class="column3">Date de modification</th>
            <th class="column4">Etat</th>
            <th class="column5">Nombres de vues</th>

        </tr>
        {% for thread in threads %}
        <tr>
            <td class="column1"><a href="{{ path('getMessagesThread',{ 'threadID': thread.id }) }}">{{ thread.nomThread }}</a></td>
            <td class="column2">{{ thread.user }}</td>
            <td class="column3">{{ thread.dateModification |date("d/m/Y") }}</td>
            <td class="column4">{{ thread.etat }}</td>
            <td class="column5">{{ thread.nbVues}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}