{% extends "base.html.twig" %}



{% block titleHead %}{{ messages[0].thread.nomThread}}{% endblock %}

{% block body %}
    <table class="table table-inverse">
        <tr class="table100-head">
            <th class="column1">Auteur</th>
            <th class="column2">Message</th>
            <th class="column3">Date du post</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td class="column1">{{ message.id }}</td>
                <td class="column2">{{ message.contenu }}</td>
                <td class="column3">{{ message.dateMessage |date("d/m/Y") }}</td>
                <td class="column4">{{ message.user.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

