{% extends "base.html.twig" %}


{% block titleHead %}Contactez-nous{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Si vous avez des questions, n'hésitez pas à nous contacter !</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                {{ form_start(contactForm) }}
                {{ form_row(contactForm.mail,{
                    'label' : 'Votre adresse email'
                }) }}
                {{ form_row(contactForm.objet,{
                    'label' : 'Objet du message'
                }) }}
                {{ form_row(contactForm.message,{
                    'label' : 'Votre message'
                }) }}

                {# Render CSRF token etc .#}
                <div style="display:none">
                    {{ form_rest(contactForm) }}
                </div>

                <button type="submit" class="btn btn-primary">Envoyer</button>

                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
{% endblock %}